.headerTable {
  margin-top: 12dvh;
  display: flex;
  justify-content: space-around;
  color: #DEDFDC;
}

.rowURL {
  display: flex;
  background-color: #5C6C6C;
  color: #DEDFDC;
}

.rowURL:nth-child(2n) {
  background-color: #DEDFDC;
  color: #111;
}

.itemTable {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.linkTable:hover {
  opacity: 0.8;
}

.QRButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 5px;
}