.headerTable {
  display: flex;
  justify-content: space-around;
}

.rowURL {
  display: flex;
  background-color: #cb6040;
}

.rowURL:nth-child(2n) {
  background-color: #F2E5BF;
  color: #111;
}

.itemTable {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.linkTable:hover {
  opacity: 0.8;
}

.QRButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 5px;
}