.login_container {
  margin-top: 30dvh;
  display: flex;
}

.register_container {
  margin-top: 12dvh;
  display: flex;
}

.fromLogin {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
}

.fromLogin label {
  color: #DEDFDC;
}

.inputFormLogin {
  font-family: inherit;
  border: none;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
}

.inputFormLogin:hover {
  background-color: #ddd;
}

.inputFormLogin:focus-visible {
  border: 1px solid #3B5562;
}

.addURLSubmit {
  min-width: 33%;
  background-color: #3B5562;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

.addURLSubmit:hover {
  opacity: 0.8;
}