.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 10dvh;
  background-color: #5C6C6C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #dedfdc;
  box-shadow: 0px 0px 10px 1px #1118;
}

.navbarItem {
  padding: 8px;
  border-radius: 8px;
  background-color: #3B5562;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-family: inherit;
  border: none;
}

.navbarItem:hover {
  opacity: 0.8;
}

.active {
  opacity: 0.8;
  pointer-events: none;
}